/* galleries */

.eol_gallery ul{
	display: flex;
	flex-wrap: wrap;
	@media (max-width: $phone) {

		flex-direction: column;
	}

	li.blocks-gallery-item {
		// float: none !important;
		width: auto;
	}

	img {
		// border: none !important;
	}

	img.attachment-thumbnail {
	}

	
}