/* nav */

.menu-primary-container, .menu-main-container {
	width: 100%;
	ul {
		li {
			a {
				text-decoration: none;
				display: block;
				padding: 1rem;
			}
		}
	}

	@media (max-width: $phone) {
		transform: translateX(-100vw);
		transition: transform .3s ease;
		position: absolute;
		z-index: 100;

background:$brand;
		ul {
			flex-direction: column;
			width: 100%;
			li {
				a {
					color:#fff;
					
				}
			}
		}
	}
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-around;

	a {
		display: block;
		padding: .5rem;
	}
}

li.current_page_parent a, li.current_page_item a, li.current_menu_item a, a:hover {
	color: darken($brand, 50%);
}

.navicon {
	display: none;
	z-index: 1000;
	position: relative;

	@media (max-width: $phone) {
		display: flex;
	}

	width: 22px;
	height: 22px;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
	position: fixed;
	right: 8px;
	top: 8px;

	.bar {
		width: 22px;
		height: 2px;
		border-radius: 1px;
		background: $brand;
		transition: all ease .3s;
	}
}

.close {
	.top {
		transform: rotate(45deg);
	}

	.middle {
		opacity: 0;
	}

	.bottom {
		transform: rotate(-45deg);
	}

	.bar {
		transform-origin: left;
	}
}

.arrow_up {
	.top {
		transform: translateY(11px) rotate(-45deg);
		transform-origin: left;
	}

	.middle {
		opacity: 0;
	}

	.bottom {
		transform: translateX(11px) translateY(-11px) rotate(45deg);
	}

	.bar {}
}